@import url('https://fonts.googleapis.com/css?family=Work+Sans');
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

#map {
    width: 68%;
    height: 100vh;
}

h1 {
    font-size: 1.5em;
}

body {
    overflow-y: hidden;
    background-color: #e8e8e8;
}

#box {
    display: none;
    position: absolute;
    top: 16px;
    right: 10px;
    z-index: 99;
    width: 30%;
}

#box input {
    padding: 5px;
    width: 59%;
}

#box button {
    padding: 5px;
    background: white;
    border: none;
    width: 70px;
}

#box button:hover {
    cursor: pointer;
    background: lightgray;
}

#results {
    height: 100vh;
    overflow-y: scroll;
    display: block;
    position: absolute;
    top: 48px;
    width: 30%;
    right: 12px;
}

ul {
    line-height: 1.5em;
    list-style: none;
}

li {
    background: url(../images/pizza.png) left center no-repeat;
    padding-left: 30px;
    margin-top: 10px;
}


/*.pizza_place_image {
    width: 60px;
}*/

.icon {
    width: 25px;
}

.loading {
    margin-top: 10%;
    text-align: center;
}

.icon {
    position: absolute;
    margin-top: -1px;
}

.info_window {}

@media (max-width: 600px) {
    #results {
        display: none;
    }
    #map {
        width: 100%;
    }
    #box {
        width: 62%;
    }
    .info_window {}
}